html, body {
  margin: 0px;
  background-color: rgb(0,179,179);
  overflow: hidden;
}
#score {
  font-size: 50px;
  margin-top: 12px;
  font-style: bold;
  text-align: center;
  color: orange;
}
#user {
  font-size: 32px;
  color: white;
  font-family: Roboto;
  text-align: center;
}
#container {
  position: absolute;
  width: 100%;
  height: 100%;
}
#bestScore {
  font-size: 30px;
  margin-top: 12px;
  font-style: bold;
  text-align: center;
  color: white;
}
#sBTitle {
  font-size: 24px;
  width: 100%;
  border-bottom: 2px solid black;
}
#ui {
  position: absolute;
  z-index: 1;
  min-width: 100%;
  min-height: 100%
}
#scoreMenu {
  display: none;
}
#scoreBoard {
  background-color: rgba(20,20,20,0.5);
  width: 500px;
  height: 600px;
}
#scoreHead {
  width: 100%;
  display: flex;
  background-color: inherit;
  color: white
}
#place {
  flex-grow: 1
}
#userScoreName {
  flex-grow: 2
}
#userScore {
  flex-grow: 2
}
#test {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#mainMenu {
  width: 500px;
  margin: auto;
  transition: opacity 0.5s linear 0s;
}
.menuButton {
  width:200px;
  border-radius: 20px;
  border: 2px solid white;
  padding: 10px;
  background-color: rgba(255, 165, 0, 0.1);
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 600;
  font-family: Roboto;
  cursor: pointer;
  transition: background-color 0.075s linear 0s, font-size 0.075s linear 0.2s, width 0.75s linear 0s;
}
.menuButton:hover {
  background-color: rgba(255,165,0,0.8);
  font-size: 38px;
  width: 208px;
}
#txtField {
  width: inherit;
  font-size: 32px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-radius: 40px;
  border-color: orange;
  background-color: rgba(255,255,255,0.2);
  outline: none;
  color: white;
  font-family: Roboto;
  transition: background-color 0.15s linear 0s;
  margin-top: 10px;
  margin-bottom: 10px
}
#txtField:focus {
  background-color: rgba(255,255,255,1);
  color: black;
  box-shadow: 0px 0px 50px 2.5px orange;
}

#userName {
  color: white;
  font-size: 32px;
  font-family: Roboto;
  width: 420px;
  margin: auto;
}
#liveScore {
  display:none
}
#Title {
  font-size: 42px;
  color: white;
  font-family: sans-serif;
}
@font-face {
  font-family: "Roboto";
  src: url("Resources/Roboto.ttf")
}
